<!--The content below is only a placeholder and can be replaced.-->
<!--div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul-->


<!--div id="wrapper" class="container">
    <div id="sidebar-wrapper" class="col-md-4">
        <aside id="sidebar">
            <ul id="sidemenu" class="sidebar-nav">
                <li>
                    <img src="assets/images/layout_set_logo.png" style="width: 40%;" alt="Logo Alianza Fiduciaria" />
                </li>
                <li>
                    <a href="#">
                        <span class="sidebar-icon"><i class="fa fa-dashboard"></i></span>
                        <span class="sidebar-title">Clients</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="sidebar-icon"><i class="fa fa-dashboard"></i></span>
                        <span class="sidebar-title">Client look history</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="sidebar-icon"><i class="fa fa-address-card"></i></span>
                        <span class="sidebar-title">Emergency boot history</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="sidebar-icon"><i class="fa fa-dashboard"></i></span>
                        <span class="sidebar-title">Emergency PIN configuration</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="sidebar-icon"><i class="fa fa-dashboard"></i></span>
                        <span class="sidebar-title">Emergency PIN history</span>
                    </a>
                </li>
            </ul>
        </aside>
    </div>
    <div id="page-content-wrapper" class="col-md-8">
        <app-manage-client></app-manage-client>
    </div>
</div-->


<!--div class="container">
    <div class="row">
        <div class="col-md-2">
            <img src="assets/images/layout_set_logo.png" style="width: 160px;" alt="Logo Alianza Fiduciaria" />
            <ul>
                <li>
                    Clients
                </li>
                <li>
                    Clien look history
                </li>
                <li>
                    Emergency PIN configuration
                </li>
                <li>
                    Emergency PIN history
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <app-manage-client></app-manage-client>
        </div>
    </div>
</div-->
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex justify-content-center">
            <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                <a class="navbar-brand brand-logo" href="index.html"><img src="assets/images/layout_set_logo.png" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/layout_set_logo_mini.png" alt="Logo alianza financiera" /></a>
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-sort-variant"></span>
                </button>
            </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <ul class="navbar-nav mr-lg-4 w-100">
                <h2>Clients</h2>
            </ul>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="pages/forms/home.html">
                        <i class="mdi mdi-account menu-icon"></i>
                        <span class="menu-title">Clients</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages/forms/basic_elements.html">
                        <i class="mdi mdi-folder-lock menu-icon"></i>
                        <span class="menu-title">Client look history</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages/charts/chartjs.html">
                        <i class="mdi mdi-settings-box menu-icon"></i>
                        <span class="menu-title">Emergency PIN configuration</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages/tables/basic-table.html">
                        <i class="mdi mdi-history menu-icon"></i>
                        <span class="menu-title">Emergency PIN history</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <app-manage-client></app-manage-client>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <!--footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a
                            href="https://www.urbanui.com/" target="_blank">Urbanui</a>. All rights reserved.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
                        <i class="mdi mdi-heart text-danger"></i></span>
                </div>
            </footer-->
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->