<div class="grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Create New Client</h4>
        <form class="forms-sample">
          <div class="form-group row">
            <label for="exampleInputUserSharedKey" class="col-sm-3 col-form-label">Shared Key</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="exampleInputUserSharedKey" placeholder="Shared Key">
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputUsername" class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="exampleInputUsername" placeholder="Name">
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputMobile" class="col-sm-3 col-form-label">Phone</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="exampleInputMobile" placeholder="Phone">
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputEmail" class="col-sm-3 col-form-label">E-mail</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" id="exampleInputEmail" placeholder="E-mail">
            </div>
          </div>
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <button class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>