<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body dashboard-tabs p-0">
                    <ul class="nav nav-tabs px-4" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab"
                                aria-controls="overview" aria-selected="true">Actions</a>
                        </li>
                    </ul>
                    <div class="tab-content py-0 px-0">
                        <div class="tab-pane fade show active" id="overview" role="tabpanel"
                            aria-labelledby="overview-tab">
                            <div class="d-flex flex-wrap justify-content-xl-between">
                                <div
                                    class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                    <button type="button" class="btn btn-primary btn-fw" data-toggle="modal"
                                        data-target="#clientModal" (click)="actionAddingClient()">
                                        <i class="mdi mdi-account-plus icon-md mr-3 text-light"></i>
                                        New Client
                                    </button>
                                </div>
                                <div
                                    class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                    <button type="button" class="btn btn-primary btn-fw">
                                        <i class="mdi mdi-file-export icon-md mr-3 text-light"></i>
                                        Export
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">List of Clients</p>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter shared key"
                                        aria-label="Enter shared key">
                                    <div class="input-group-append">
                                        <button class="btn btn-sm btn-primary" type="button">Search</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 d-flex border-md-right flex-grow-1 align-items-center item">
                                <button type="button" class="btn btn-primary btn-fw"><i
                                        class="mdi mdi-file-export icon-md mr-3 text-light"></i>
                                    Advanced Search
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-hover table table-sm">
                            <thead>
                                <tr>
                                    <th class="text-center">Share Key</th>
                                    <th class="text-center">Business ID</th>
                                    <th class="text-center">E-Mail</th>
                                    <th class="text-center">Phone</th>
                                    <th class="text-center">Added Date</th>
                                    <th class="text-center">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let client of lstClients">
                                    <td class="text-center">{{client.sharedKey}}</td>
                                    <td class="text-left">{{client.businessId}}</td>
                                    <td class="text-left">{{client.email}}</td>
                                    <td class="text-right">{{client.phone}}</td>
                                    <td class="text-right">{{client.addedDate | date:'dd/MM/yyyy hh:mm a'}}</td>
                                    <td class="text-center"><button type="button" class="btn btn-light btn-sm"
                                            (click)="actionModifyingClient(client.sharedKey)"><span
                                                class=" mdi mdi-lead-pencil icon-md mr-1 text-primary"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button type="button" id="btnOpenClientModal" data-toggle="modal" data-target="#clientModal" class="btn btn-primary"
    class="invisible">Open Notification Modal</button>
<div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="clientModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clientModalLabel">Create New Client</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <form class="needs-validation" novalidate id="formClient" #formClient="ngForm"
                            (ngSubmit)="onSubmitFormClient();">
                            <div class="form-group row">
                                <label for="inputUserSharedKey" class="col-sm-3 col-form-label">Shared Key</label>
                                <div class="col-sm-9">
                                    <input type="text" id="inputUserSharedKey" name="inputUserSharedKey"
                                        #inputUserSharedKey="ngModel" [(ngModel)]="currentClient.sharedKey" required
                                        pattern="[a-z]+" class="form-control" placeholder="Shared Key">
                                    <span *ngIf="!inputUserSharedKey.valid && inputUserSharedKey.touched"
                                        class="badge badge-danger">SharedKey is invalid or empty</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputUserName" class="col-sm-3 col-form-label">Name</label>
                                <div class="col-sm-9">
                                    <input type="text" id="inputUserName" name="inputUserName" #inputUserName="ngModel"
                                        [(ngModel)]="currentClient.businessId" required pattern="^[a-zA-Z\s]*$"
                                        class="form-control" placeholder="Name">
                                    <span
                                        *ngIf="!inputUserName.valid  && inputUserName.errors && (inputUserName.dirty || inputUserName.touched)"
                                        class="badge badge-danger">Name
                                        Business
                                        is invalid or empty</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPhoneNumber" class="col-sm-3 col-form-label">Phone</label>
                                <div class="col-sm-9">
                                    <input type="text" id="inputPhoneNumber" name="inputPhoneNumber"
                                        #inputPhoneNumber="ngModel" [(ngModel)]="currentClient.phone" required
                                        pattern="[0-9]*" class="form-control" placeholder="Phone">
                                    <span
                                        *ngIf="!inputPhoneNumber.valid  && inputPhoneNumber.errors && (inputPhoneNumber.dirty || inputPhoneNumber.touched)"
                                        class="badge badge-danger">Phone is
                                        invalid or empty</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-3 col-form-label">E-mail</label>
                                <div class="col-sm-9">
                                    <input type="email" id="inputEmail" name="inputEmail" #inputEmail="ngModel"
                                        [(ngModel)]="currentClient.email" class="form-control" required
                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="E-mail">
                                    <span
                                        *ngIf="!inputEmail.valid  && inputEmail.errors && (inputEmail.dirty || inputEmail.touched)"
                                        class="badge badge-danger">E-mail is
                                        invalid or empty</span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btnCloseClientModal" class="btn btn-secondary"
                                    data-dismiss="modal" (click)="formClient.reset();">Close</button>
                                <button type="submit" class="btn btn-primary" [disabled]="!formClient.form.valid">Save
                                    changes</button>
                            </div>
                            <!--pre>{{currentClient | json}}</pre-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button type="button" id="btnOpenNotModal" data-toggle="modal" data-target="#notificationModal" class="btn btn-primary"
    class="invisible">Open Notification Modal</button>
<div id="notificationModal" #notificationModal class="modal modal-notification" data-target="#modal" tabindex="-1"
    role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{titleNotification}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p *ngFor="let descrNot of descriptionNotification">{{descrNot}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCloseNotModal" class="btn btn-secondary" data-dismiss="modal"
                    (click)="funcHideNotificationModal();">Close</button>
            </div>
        </div>
    </div>
</div>